# python packaging
venv/
*.egg-info
dist/
build/

# Archlinux makepkg
pkgbuild/*/pkg
pkgbuild/*/src
pkgbuild/*/*.pkg.tar.zst

# quality tools
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__

.env

# editors files
.idea/
.vscode/
data/
tags
